<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/proph/IdeaProjects/javaConcepts">
        <classes>
            <class name="testCases.Annotations">
                <methods><include name="Hooks"/></methods>
            </class>
        </classes>
    </test>
</suite>